<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">Brand</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="javascript:void(0)">Active</a></li>
        <li><a href="javascript:void(0)">Link</a></li>
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Action</a></li>
            <li><a href="javascript:void(0)">Another action</a></li>
            <li><a href="javascript:void(0)">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Dropdown header</li>
            <li><a href="javascript:void(0)">Separated link</a></li>
            <li><a href="javascript:void(0)">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control col-md-8" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)">Link</a></li>
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Action</a></li>
            <li><a href="javascript:void(0)">Another action</a></li>
            <li><a href="javascript:void(0)">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="javascript:void(0)">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>


<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<!-- Buttons
================================================== -->
<div class="bs-docs-section">
  <div class="page-header">
    <div class="row">
      <div class="col-md-12">
        <h1 id="buttons">Buttons</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <h3>Flat buttons <small>default - no class needed</small></h3>
      <p class="bs-component">
        <a href="javascript:void(0)" class="btn"><code>btn</code> only</a>
        <a href="javascript:void(0)" class="btn active"><code>.active</code></a>
        <a href="javascript:void(0)" class="btn btn-default">Default</a>
        <a href="javascript:void(0)" class="btn btn-primary">Primary</a>
        <a href="javascript:void(0)" class="btn btn-success">Success</a>
        <a href="javascript:void(0)" class="btn btn-info">Info</a>
        <a href="javascript:void(0)" class="btn btn-warning">Warning</a>
        <a href="javascript:void(0)" class="btn btn-danger">Danger</a>
        <a href="javascript:void(0)" class="btn btn-link">Link</a>
      </p>


      <h3>Raised buttons <small><code>.btn-raised</code></small></h3>
      <p class="bs-component">
        <a href="javascript:void(0)" class="btn btn-raised active"><code>.active</code></a>
        <a href="javascript:void(0)" class="btn btn-raised btn-default">Default</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-success">Success</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-info">Info</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-warning">Warning</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-danger">Danger</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-link">Link</a>
      </p>


      <h3>Disabled buttons</h3>

      <fieldset disabled>

        <h3><small>flat - default - no class needed</small></h3>
        <p class="bs-component">
          <a href="javascript:void(0)" class="btn"><code>btn</code> only</a>
          <a href="javascript:void(0)" class="btn btn-default">Default</a>
          <a href="javascript:void(0)" class="btn btn-primary">Primary</a>
          <a href="javascript:void(0)" class="btn btn-success">Success</a>
          <a href="javascript:void(0)" class="btn btn-info">Info</a>
          <a href="javascript:void(0)" class="btn btn-warning">Warning</a>
          <a href="javascript:void(0)" class="btn btn-danger">Danger</a>
          <a href="javascript:void(0)" class="btn btn-link">Link</a>
        </p>


        <h3><small><code>.btn-raised</code></small></h3>
        <p class="bs-component">
          <a href="javascript:void(0)" class="btn btn-raised btn-default">Default</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-success">Success</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-info">Info</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-warning">Warning</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-danger">Danger</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-link">Link</a>
        </p>
      </fieldset>

      <h3>Button sizes</h3>

      <p class="bs-component">
        <a href="javascript:void(0)" class="btn btn-raised btn-lg">Large button</a>
        <a href="javascript:void(0)" class="btn btn-raised">Default button</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-sm">Small button</a>
        <a href="javascript:void(0)" class="btn btn-raised btn-xs">xs button</a>
      </p>

      <h3>Floating action buttons <small>a.k.a fab</small></h3>
      <p class="bs-component">
        <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-primary btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-info btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-warning btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-danger btn-fab"><i class="material-icons">grade</i></a>
      </p>
      <h4><small><code>.btn-group-sm .btn-fab</code> or <code>.btn-fab-mini</code></small></h4>
      <p class="bs-component btn-group-sm">
        <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-primary btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-success btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-info btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-warning btn-fab"><i class="material-icons">grade</i></a>
        <a href="javascript:void(0)" class="btn btn-danger btn-fab"><i class="material-icons">grade</i></a>
      </p>

    </div>
    <div class="col-md-6">
      <h2>Group variations with <small><code>.btn-raised</code></small></h2>

      <h3>Button groups</h3>
      <div style="margin-bottom: 15px;">
        <div class="btn-toolbar bs-component" style="margin: 0;">

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn">btn only</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>



          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-default btn-raised">Default raised</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-default btn-raised dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-primary btn-raised">Primary raised</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-primary btn-raised dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-success">Success</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-info">Info</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-warning">Warning</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-danger">Danger</a>
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)">Action</a></li>
              <li><a href="javascript:void(0)">Another action</a></li>
              <li><a href="javascript:void(0)">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Separated link</a></li>
            </ul>
          </div>
        </div>
      </div>



      <h3><small><code>btn-lg.btn-block.btn-raised</code></small></h3>
      <div class="bs-component">
        <a href="javascript:void(0)" class="btn btn-default btn-lg btn-block btn-raised">Block level button</a>
        <fieldset disabled>
          <a href="javascript:void(0)" class="btn btn-default btn-lg btn-block btn-raised">Block level button disabled</a>
        </fieldset>
      </div>


      <div class="bs-component" style="margin-bottom: 15px;">
        <h3><small><code>btn-group.btn-group-justified.btn-group-raised</code></small></h3>
        <div class="btn-group btn-group-justified btn-group-raised">
          <a href="javascript:void(0)" class="btn ">Left</a>
          <a href="javascript:void(0)" class="btn ">Middle</a>
          <a href="javascript:void(0)" class="btn ">Right</a>
        </div>

        <h3><small>disabled <code>btn-group.btn-group-justified.btn-group-raised</code></small></h3>
        <fieldset disabled>
          <div class="btn-group btn-group-justified btn-group-raised">
            <a href="javascript:void(0)" class="btn ">Left</a>
            <a href="javascript:void(0)" class="btn ">Middle</a>
            <a href="javascript:void(0)" class="btn ">Right</a>
          </div>
        </fieldset>
      </div>

      <div class="bs-component" style="margin-bottom: 15px;">
        <h3><small><code>btn-toolbar</code></small></h3>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a href="javascript:void(0)" class="btn">1</a>
            <a href="javascript:void(0)" class="btn">2</a>
            <a href="javascript:void(0)" class="btn">3</a>
            <a href="javascript:void(0)" class="btn">4</a>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-raised">5</a>
            <a href="javascript:void(0)" class="btn btn-raised">6</a>
            <a href="javascript:void(0)" class="btn btn-raised">7</a>
          </div>

          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-raised">8</a>

            <div class="btn-group">
              <a href="bootstrap-elements.html" data-target="#" class="btn btn-raised dropdown-toggle" data-toggle="dropdown">
                Dropdown
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">Dropdown link</a></li>
                <li><a href="javascript:void(0)">Dropdown link</a></li>
                <li><a href="javascript:void(0)">Dropdown link</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="bs-component">
        <h3><small><code>.btn-group-vertical</code></small></h3>
        <div class="btn-group-vertical">
          <a href="javascript:void(0)" class="btn btn-raised">Button</a>
          <a href="javascript:void(0)" class="btn btn-raised">Button</a>
          <a href="javascript:void(0)" class="btn btn-raised">Button</a>
          <a href="javascript:void(0)" class="btn btn-raised">Button</a>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="form-group label-static">
  <label for="i2" class="control-label">label-static</label>
  <input type="email" class="form-control" id="i2" placeholder="placeholder attribute">
  <p class="help-block">This is a hint as a <code>p.help-block.hint</code></p>
</div>

<div class="form-group label-floating">
  <label for="i5" class="control-label">label-floating</label>
  <input type="email" class="form-control" id="i5">
  <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
</div>

<div class="form-group label-placeholder">
  <label for="i5p" class="control-label">label-placeholder</label>
  <input type="email" class="form-control" id="i5p">
  <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
</div>

<div class="form-group">
  <label class="col-lg-2 control-label">Radios</label>

  <div class="col-lg-10">
    <div class="radio radio-primary">
      <label>
        <input type="radio" name="optionsRadios" checked="">
        Option one
      </label>
    </div>
    <div class="radio radio-primary">
      <label>
        <input type="radio" name="optionsRadios">
        Option two
      </label>
    </div>
  </div>
</div>

<i class="material-icons">face</i> face

<div class="card">

    <div class="card-height-indicator"></div>

    <div class="card-content">

        <div class="card-image">
            <img src="http://i2.kym-cdn.com/entries/icons/original/000/005/171/are-you-a-wizard.jpg" alt="Loading image...">
            <h3 class="card-image-headline">Lorem Ipsum Dolor</h3>
        </div>

        <div class="card-body">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>

        <footer class="card-footer">
            <button class="btn btn-flat">Share</button>
            <button class="btn btn-flat btn-warning">Learn More</button>
        </footer>

    </div>

</div>
