<div class="collapse" id="navbar-header">
  <div class="container-fluid bg-inverse p-a-1">
    <h3>Collapsed content</h3>
    <p>Toggleable via the navbar brand.</p>
  </div>
</div>
<div class="navbar navbar-light bg-faded navbar-static-top m-b-1">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
    &#9776;
  </button>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
  </div>
</div>
