.jumbotron-title {
  background-color: $brand-primary-dark;
  color: #FFF;
  margin-bottom: 0;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.jumbotron-video {
  /*background-color: #212121;*/
  background-color: #B6B6B6;
  padding: 0 0 0 0;
}

.greeting {
  margin-top: 32px;
  margin-bottom: 32px;
}

.greeting p {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 0px;
}

hr {
  border-color: #e0e0e0;
}
