.jumbotron-title {
  background-color: $brand-primary-dark;
  color: #FFF;
  margin-bottom: 32px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.jumbotron-video {
  /*background-color: #212121;*/
  background-color: #B6B6B6;
  padding: 0 0 0 0;
}

.greeting {
  margin-bottom: 32px;
}

.greeting p {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 0px;
}

hr {
  border-color: #e0e0e0;
}

.btn-accent {
  @extend .btn-default;
  background-color: $brand-accent;
  color: white;
}

.width-100 {
  width: 100% !important;
}
