$navbar-padding-bottom: 10px;
$navbar-border: 1px;

.navbar-default {
  border-width: 0;
  border-bottom-width: $navbar-border;
  border-radius: 0;
  border-color: #BBB;
  background-color: rgba(white, 0.6);
  padding-bottom: $navbar-padding-bottom;
  margin-bottom: 0px;
  z-index: 1;
}

$nav-height: 100px;

.nav-logo {
  height: $nav-height;
  padding-top: 5px;
    @media (max-width: 640px) {
      height: $nav-height - 10px;
    }
    @media (max-width: 700px) {
      margin-left: 10px;
    }
}

.unimed-logo-header {
  float: right;
  height: 45px;
  margin-top: 30px;
    @media (max-width: 1000px) {
      display: none;
    }
}

.unimed-logo-footer,
.unimed-logo-footer-startpage {
  float: right;
  height: 40px;
  margin-top: 15px;
    @media (max-width: 1000px) {
      float: none;
      margin-top: 25px;
    }
}

.unimed-logo-footer-startpage {
  display: none;
    @media (max-width: 1000px) {
      display: block;
    }
}

// Height of the top navbar
.navbar-nav {
  margin-top: $nav-height / 4; // Stupid hack because vertical centering is too hard
}

// Change the hamburger button breakpoint to 1000px to avoid menu breaking
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

// Shrink Footer
.navbar-footer {
  margin-bottom: 10px;
}
.navbar-footer > .navbar-nav {
  margin-top: 10px;
}

$parallax-window-height: 400px;

.parallax-window {
  background: transparent;
  min-height: $parallax-window-height;
}

// YouTube area at the homepage
.parallax-window-nav {
  position: relative;
  $nav-total-height: $nav-height + $navbar-padding-bottom + $navbar-border;
  top: -$nav-total-height;
  margin-bottom: -$nav-total-height;
  min-height: $parallax-window-height + $nav-total-height;
    @media (max-height: 640px) {
      min-height: ($parallax-window-height / 2) + $nav-total-height;
    }
  // Button
  a {
    color: $red-youtube;
    // Offset button by half of navbar's size since it moves the percieved center
    margin-top: ($nav-total-height) / 2;
  }
  a:hover {
    color: $red-youtube-hover;
  }
  // Size of the icon
  font-size: 94pt;
    @media (max-height: 640px) {
    font-size: 65pt;
    }
}

.register-login {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.modal-video {
  display: flex;
  justify-content: center;
}




.greeting {
  margin-bottom: 32px;
}

.greeting p {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 0px;
}

hr {
  border-color: #e0e0e0;
}

.btn-accent {
  @extend .btn-default;
  background-color: $brand-accent;
  color: white;
}

.width-100 {
  width: 100% !important;
}

.alerts-container {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  z-index: 2;
}

.parsley-errors-list {
  color: $brand-danger;
  margin-top: 8px;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Magic fix for video-modals in Firefox (http://stackoverflow.com/a/27441661)
.modal.fade .modal-dialog{transform:none !important;}

// Popover typography

.popover{
    max-width: 500px; /* Max Width of the popover (depending on the container!) */
}

.popover-title {
    font-size: 15px;
}

.popover-content {
    font-size: 15px;
}

// Checkbox divs for the accept.blade.php
.checkbox, .accept {
    margin-top: 15px !important;
}

.space-wrapped-cols div[class*='col-'] {
  margin-bottom: 4px;
}

.panel-heading h4 {
  font-size: ceil($font-size-base * 1.1);
  font-weight: normal;
}

// Day slot labels in patient_list view
.day-slot code {
  color: initial;
  background-color: initial;
}

// Table in patient_list view
tr.even {
    background-color: $gray-lightest;
}

// For javierjulio/textarea-autosize
textarea {
  box-sizing: border-box;
  min-height: 39px;
  overflow-x: hidden; /* for Firefox (issue #5) */
  overflow: hidden;
}

.info-video {
  margin-top: 64px;
}

.used {
  code {
    background-color: $brand-primary;
    color: white;
  }
  a {
    text-decoration: none;
  }
}

.unused code {
  background-color: $gray-lighter;
  color: black;
}

.diary-accordion {
  .panel {
    border-radius: 0;
    margin-top: 2px !important;
    // border: 1px solid black;
    // border-bottom: 1px solid black;
  }

  .panel-heading-current {
    background-color: $md-blue-300;
  }

  .panel-heading-done {
    background-color: $md-light-green-300;
  }

  .panel-heading-overdue {
    background-color: $gray-lighter;
  }

  .panel-heading-undefined {
    background-color: white;
  }

  .panel-heading {
    border-radius: 0;
  }

  .diary-panel-current {
    .panel-title {
      font-style: italic;
    }
  }
}

.panel-group .panel-heading a,a:focus,a:hover {
  text-decoration: none;
  color: $text-color;
}

.role-therapist .navbar-default {
  background-color: $md-blue-50;
}

.slots-few {
  span {
    border-top-color: $brand-warning;
    border-bottom-color: $brand-warning;
    border-left-color: $brand-warning;
  }
  input {
    background-color: $brand-warning-lighter;
    border-top-color: $brand-warning;
    border-right-color: $brand-warning;
    border-bottom-color: $brand-warning;
  }
}

.slots-none {
  span {
    border-top-color: $brand-danger;
    border-bottom-color: $brand-danger;
    border-left-color: $brand-danger;
  }
  input {
    background-color: $brand-danger-lighter;
    border-top-color: $brand-danger;
    border-right-color: $brand-danger;
    border-bottom-color: $brand-danger;
  }
}

#opt-out-frame {
  border: 0px;
  width: 100%;
  height: 320px;
  @media (max-width: 1000px) {
    height: 400px;
  }
  @media (max-width: 680px) {
    height: 500px;
  }
  @media (max-width: 480px) {
    height: 760px;
  }
}

.commentedWeek {
  padding-left: 8px;
}

.commentedWeek-current {
  border-left: 5px solid $md-blue-300;;
}

.commentedWeek-done {
  border-left: 5px solid $md-light-green-300;
}

.commentedWeek-overdue {
  border-left: 5px solid $gray-lighter;
}

.commentedWeek-undefined {
  border-left: 5px solid white;
}
