$brand-primary: $md-blue-500;
$brand-primary-dark: $md-blue-700;
$brand-accent: $md-light-green-500;
$brand-success: $md-light-green-500;
$brand-info: $md-light-blue-500;
$brand-warning: $md-orange-500;
$brand-danger: $md-red-400;
